<!doctype html>
<html>

<head>
  <title>Just Draw</title>
  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="draw.css">

  <!-- <link rel="stylesheet" href="drawog.css"> -->


  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Monoton|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

  <!-- P5 js  library link-->
  <script src="p5.js"></script>
  <script src="p5.dom.js"></script>
  <script src="p5.sound.js"></script>
  <script src="sketch.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
</head>

<body>
  <main id="size">
    <span>Time: <span id="display"></span></span>

    <input id="count" type="text" placeholder="Enter Minutes" name="" value="">

    <button id="begin" type="button" name="button">Start Timer</button>

    <label for="title"> <h1>Title</h1> </label>

    <input id="title" type="text" name="" value="">

    <label class="color" for="">Color:</label>

    <input id="color" class="inputcolor" type="color" name="" value="">

    <label for="">Size:</label>

    <input id="myRange" type="range" name="" value="" min="1" max="100">

    <button id="save" type="button" name="button">Save</button>
    <a href="/draw"> <button type="button" name="button">Reset</button></a>
    <!-- <button id="eraser" type="button" name="button">eraser</button> -->

    <label  class="switch">
      <input id="eraser"  type="checkbox">
      <span class="slider round"></span>
    </label>


    <!--
    <div id="canvasDiv">
    <canvas id="canvasInAPerfectWorld" width="490" height="220"></canvas>
    </div> -->



    <canvas id="canvas" placeholder="Draw here...">YOUR BROWERS DOES NOT SUPPORT CANNVAS, PLEASE UPGRADE!</canvas>





    <form id="form" class="" action="/pic" method="post">

      <input id="place" hidden type="text" name="url" value="">

      <input hidden type="text" name="user" value="<%= user.local.email %>">

      <input id="setTitle" hidden type="text" name="title" value="">

    </form>

  </main>

  <script src="draw.js"></script>

  <script src="timer.js"></script>

  <script src="main.js"></script>

</body>

</html>
