<!doctype html>
<html>
<head>
    <title>Just Draw</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Monoton|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Just Draw</h1>
        <a href="/login" class="signInButton move1 btn btn-default">Login</a>

        <a href="/signup" class="signInButton move2 btn btn-default">Signup</a>

        <img class="caterpillar"src="https://cdn.pixabay.com/photo/2015/04/20/22/46/caterpillar-732376_1280.png" alt="Drawing of a caterpillar">
        <img class="boat"src="https://cdn.pixabay.com/photo/2017/06/08/00/16/ship-2382103_1280.png" alt="Drawing of a boat">

    </div>

</div>
</body>
</html>
