
body {
  background-color: #79c99e;
  padding: 4%;
  padding-top: 0%;
  background-image: linear-gradient(to bottom right, steelblue, cadetblue, lightgreen);
  background-repeat:no-repeat;
  font-family: 'IBM Plex Sans';
  font-weight: 200;
  height: 600px;
  /* background-image: url("img/default.png");
  background-position: center;
  background-size: cover; */
}


main {
  box-shadow: -3px 8px 14px #428f6666;
  height: 400px;
}

canvas#canvas {
  /* height: 700px;
    width: 100%; */
  pointer-events: none;
  box-shadow: -3px 8px 14px #428f6666;
  background-color: white;
}

html {
  font-size: 10px
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: lightgreen;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


h1 {
  color: white;
  font-size: 6rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  margin: 0px;
}

h1>span {
  color: #4D5359;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 70%;
}

.wrapper>section {
  border: 2px solid white;
  padding: 2.5rem;
}

.signUp {
  display: grid;
  width: 100%;
  grid-gap: 5rem;
  grid-template-columns: 1fr 1fr;
  border: 2px solid #97DB4F;
  padding: 2.5rem;
  border-radius: 6px;
  margin-left: 18%
}
/*
.background{
width: 100%;
height: 500px;
  background-image: url("img/default.png");
} */
label {
  font-size: 2rem;
}

p {
  font-size: 2rem;
}

input {
  padding: 1%;
  width: 95%;
  box-shadow: -3px 8px 14px #428f6666;
  border: 1px solid #a9d7bee3;
  color: rgb(1, 0, 0);
  margin: 1%;
  border-radius: 6px;
  font-size: 2rem;
}

.signUpButton {
  grid-column: 1/3;
  border-radius: 50px;
  border-radius: 6px;
  font-weight: lighter;
  border: 2px solid white;
  font-size: 4rem;
  text-decoration: none;
  text-align: center;
  width: 40%;
  color: black;
  margin-left: 26%;
  margin-top: 30px;
  background-color: #f5f5dc08;
}

.signUp>section {
  /* border:2px solid black; */
  grid-auto-rows: minmax(100px, auto);
  height: 20px;
}

.email {
  grid-column: 1/3;
  /* margin-bottom: 1rem; */
  margin-bottom: 35px;
  margin-top: 17px;
}

/*
.gif{

  border-radius: 50px;
  transform: rotate(90deg);
  opacity: .9;

} */
/*
.pencile {
    position: relative;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    height: 26rem;
    position: fixed;
    /* bottom: 16rem; */
/* top: 3rem;
    right: -3rem;
}  */
/* .cat {
    position: fixed;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    height: 15rem;
    position: absolute;
    /* bottom: 16rem; */
/* top: 3rem;
    right: 95rem;
} */
.signIn {
  border-radius: 6px;
  margin-left: 41%;
}

.signInButton {
  transition: .5s ease;
  grid-column: 1/3;
  border-radius: 50px;
  border-radius: 6px;
  font-weight: 300;
  letter-spacing: 6px;
  border: 2px solid white;
  font-size: 3rem;
  text-decoration: none;
  text-align: center;
  color: white;
  margin-left: 1%;
  padding: 5px 15px 5px 15px;
  background-color: #f5f5dc08;
  margin-top: 2%;
}

.userName {
  font-weight: 200;
  font-size: 6rem;
}

.linkHolder {
  margin: 2% 2% 2% 0%;
}

h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  color: white;
  font-size: 4rem;
}

.move1 {

position: static;
  transition: .5s ease;
  top: 50px;

}

.move2 {


  position: static;
    transition: .5s ease;
    top: 50px;

}

.pencileTwo {
  position: relative;
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(30deg);
  height: 28rem;
  position: fixed;
  /* bottom: 16rem; */
  top: 11rem;
  right: 7rem;
}

a {
  color: white;
}

.fa-edit {
  font-weight: 300;
  color: black;
}

.pas {
  margin-bottom: 13%;
}

.emailTwo {
  margin-bottom: 13%;
}

.caterpillar {
  color: white;
  /*
  transform: scaleX(-1)  rotate(-16deg);
  height: 50rem;
  position:fixed;
   transition: .5s ease;
   top: 50%;
   left: 50%;*/
}

.boat {
  transform: rotate(9deg);
  height: 24rem;
  position: fixed;
  transition: .5s ease;
  top: 62%;
  left: 0%;
  width: 57%;
}

/* .row{
  border: 2px solid black;
  padding: 3%;


} */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-item {
  background-color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  width: 75%;
  border-radius: 6px;
}

img {
  width: 100%;
}

.smaller {
  font-size: 50px;
  height: 100px;
  margin-top: 200px;
  border-bottom: 2px solid white;
  width: 30%;
  text-align: center;
  display: inline;
}

figure>input {
  width: 60%;
  margin: 8%;
  box-shadow: none;
}

.a-trash-alt {
  color: #4A4238;
}

.fa, .fas {
  font-weight: 400;
}
/* .default{

  height: 500px;
  width: 100%;
} */
.dropbtn {

  color: white;

  font-size: 32px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5694a7;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
